
//tablet
@media (max-width: 1169px) and (min-width: 992px) {
	@import "includes/_include";
	#footer{
		.menu{
			li{
				margin-left: 6px;
				padding-left: 6px;
			}
			} 
		}
	.page{
		.sidebar{
			#user-login-form{
	    		.form-actions{
					padding-left: 0;
	    		}
			}  
		}
    		
	}
	.views-field-field-images{
		a{
			img{
				max-width: 91px;
			}
		}
		} 
}

@media (max-width: 991px) {
@import "includes/_include";	
	.container{
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	/* slideshow */
	#search-block-form{
		position: absolute;
		right: 70px;
		top: 35px;
		width: 40px;
		.form-search{
			width: 0px;
		}
		&:hover, &:focus{
			width: 249px;
			.form-search{
				width: 198px;
			}
		}
	}
	.logged-in{
		#search-block-form{
			right: 47px;
			top: 21px;
		}
	}
	/* main menu */
	#main-menu{
		max-height: 20000px;
		margin: 0 -20px;
		clear: both;
		float: none;
		padding: 0;
		position: static;
		.container-fluid{
			padding: 0;
		}
		.container{
			width: 100%;
			height: auto;
			.block{
				float: none;
			}
		}
		.navbar-header{
			position: absolute;
		    right: 20px;
		    top:  38px;
		    z-index: 500;
		}
		.navbar-toggle{
			display: block;
			background: #ddd;
			margin: 0;
			border-radius: 3px;
			-webkit-border-radius: 3px;
			padding: 7px 8px;
			&:hover, &:focus{
				background: $light_grey;
			}
			.icon-bar{
				background: #333;
			}
		}
		.navbar-collapse {
			max-height: 200000px;
			.container{
				height: 0;
				margin: 0;
				overflow: hidden;
				padding-left: 20px;
				padding-right: 20px;
				ul.menu{
					float: none;
					padding: 5px 15px;
					margin: 15px 0 0;
					background: #444;
					&:before{
				    	border-color: transparent transparent #444 transparent;
				    	border-style: solid;
				    	border-width: 0 15px 15px;
				    	content: "";
					    position: absolute;
					    top: 0;
					    z-index: 10;
					    right: 25px;
				    }
					li{
						border-left: none;
						float: none;
						border-top: $grey;
						border-top-style: dotted;
						a{
							display: block;
							color: $white;
							border-radius: 0;
							padding: 10px 0;
							text-shadow: none;
						}
						.active{
							color: $red;
							background: none;
						}
						&:hover, &:focus{
							a{
								background: none;
								color: $red;
							}
						}
						&:first-child{
							border-top: none;
						}
						ul.menu{
							position: static;
							left: auto;
							top: auto;
							width: auto;
							display: block;
							border: none;
							background: none;
							margin: 0;
							&:before{
						    	display: none;
						    }
							li{
								border-top: $grey;
								border-top-style: dotted;
								a{
									background: none;
									color: $white;
									padding: 10px 0;
									&:hover, &:focus{
										color: $red;
									}	
								}
							}
						}
					}
					.expanded{
						> a:before{
							color: $white;
						}
					}
				}
			}
		}
		.navbar-collapse.in {
			.container{
				height: auto;
				overflow: visible;
			}
		}
	
	}
	.page {
		#main{
			padding-bottom: 0;
		}
	}
	#panel_second{
		.col-xs-12{
			margin-bottom: 30px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	#footer{
		.container{
			.block{
				width: 100%;
				float: none;
				text-align: center;
			}
			ul.menu{
				float: none;
				padding-top: 5px;
				text-align: center;
				li{
					float: none;
					display: inline-block;
					padding: 0 6px;
					margin: 0 0 5px;
				}
			}
		}
	}
	.sidebar{
		margin-top: 20px;
	}

}


//mobile
@media (max-width: 767px) {
	h2, .h2{
		font-size: 1.42em;
	}
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}
	.container > .navbar-header, 
	.container-fluid > .navbar-header, 
	.container > .navbar-collapse, 
	.container-fluid > .navbar-collapse{
		margin-left: 0;
		margin-right: 0;
	}
	#header {
		#logo{
			width: 140px;
		}
	}
	#search-block-form{
		top: 27px;
	}
	.logged-in {
		#search-block-form{
			top: 12px;
			right: 53px;
		}
		.navbar-collapse{
			ul.menu{
				&:before{
						top: -15px !important;
					}
			}
		}
	}
	#main-menu {
		margin-left: -15px;
		margin-right: -15px;
		.navbar-header{
			top: 30px;
		}
		.navbar-collapse {
			border: none;
			box-shadow: none;
		}
	}
	.page{
		#title {
			padding: 20px 0;
			h1{
				font-size: 1.42em;
			}
		}
		#main {
			#comment-form {
				padding: 15px;
				.form-item {
					.form-text{
						max-width: 220px;
						label{
							display: block;
						}
					}

				}
			}
			.content{
				.node{
					.content{
						padding: 15px;
					}
				}
				.gallery-list {
					.views-col{
						width: 100% !important;
						margin-bottom: 30px;
					}
					.views-field-field-images, .views-field-title{
						margin-left: 10px;
						margin-right: 10px;
					}
					.views-row{
						margin-bottom: 0;
					}
					.views-field-title{
						background: none;
						padding-left: 0;
						padding-right: 0;
						border: none;
					}
				}
				.form-text, .form-email{
					max-width: 240px;
				}
			}
			.pager{
				li{
					margin-bottom: 5px;
				}
			}
			.comment{
				padding: 15px;
				margin-bottom: 15px;
			}
		}
		ul.inline, ul.links.inline{
			li{
				a{
					margin-bottom: 10px;
				}
			}
		}
	}
	#panel_first{
		.views-field-field-image{
			a{
				img{
					width: 277px;
				}
			}
		} 
	}
	#panel_second {
		.gallery-list{
			.views-row{
				.views-col{
					margin-right: 0;
					width: 33.33%;
					.views-field-field-images{
						padding-right: 10px;
					}
				}
			}
		}
	}
	.contact-location, .feedback-contact-message-form{
		padding: 15px;
	}
	#search-form{
		.form-submit{
			margin-left: 148px;
			margin-top: 5px;
		}
		#edit-submit--2{
			margin-left: 0;
		}
	}
	// .jssort01{
	// 	.pav, .p{
	// 		&:hover .c, .c{
	// 			height: 71px;
	// 			width: 72px;
	// 			border: none;

	// 		}
	// 	}
		
	// }

}
@media (max-width: 479px) {
	.slick-slider{
		padding-left: 25px;
		.slick-next{
			right: 10px;
		}
		.slick-prev{
			right: 38px;
		}
	}
	#slider1_container{
		width: 100% !important;
	}
	.page{
		.sidebar{
			#user-login-form {
				.form-actions{
					padding-left: 0;
				}
			}
		}
	}
	/*search*/
	#search-form{
		padding: 15px;
		
		.details-wrapper{
			padding: 15px;
		}
		.form-submit{
			margin-top: 10px;
			margin-left: 0;
		}
		
	}
	.page{
		#main{
			.content{
				.content{
					.user-login-form{
							.description{
								padding-left: 0;
							}
						}
					.user-register-form{
						padding: 15px;
						label{
							display: block;
						}
						input, select{
							margin-bottom: 5px;
						}
						.form-file{
							max-width: 240px;
							margin-left: 0;
							margin-right: 0;
						}
						.timezone-detect{
							max-width: 200px;
						}
					} 
				}
			}
		}
	}   
	
	// .jssort01{
	// 	.pav, .p{
	// 		&:hover .c, .c{
	// 			height: 71px;
	// 		width: 70px;
	// 		left: 2px;
	// 		top: 1px;
	// 		}
	// 	}
		
	// }

	
}
